@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

.equipment__wrapper {
  margin-bottom: 20px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #e7e7e5; }
.equipment__title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase; }
  .equipment__title::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 2px;
    width: 35px;
    height: 35px;
    background-image: url("img/icon-title.jpg");
    background-repeat: no-repeat; }
.equipment__list {
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  list-style: none; }
  @media (min-width: 680px) {
    .equipment__list {
      width: 680px; } }
  @media (min-width: 1020px) {
    .equipment__list {
      width: 1020px; } }
.equipment__item {
  position: relative;
  flex-basis: 280px;
  flex-shrink: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #e7e7e5; }
  .equipment__item:last-of-type .equipment__item-title {
    margin-bottom: -5px;
    margin-top: -8px;
    font-size: 16px; }
.equipment__preview {
  margin: 0;
  margin-bottom: 20px;
  padding: 0; }
.equipment__photo {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px; }
.equipment__info {
  position: absolute;
  top: 120px;
  left: 20px;
  display: flex;
  justify-content: space-around;
  width: 260px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 20px;
  background-color: rgba(238, 238, 238, 0.6); }
.equipment__info-available {
  margin: 0; }
.equipment__available-value {
  display: block;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase; }
.equipment__available-title {
  margin: 0;
  padding: 0;
  font-size: 12px; }
.equipment__sku-number {
  padding: 10px;
  border-width: 3px;
  border-color: #3c91c3;
  border-style: solid;
  border-radius: 15px;
  text-align: center;
  color: #3c91c3; }
.equipment__available {
  position: relative;
  padding-left: 25px;
  font-size: 14px; }
  .equipment__available::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 20px;
    height: 20px;
    background-image: url("img/icon-avail.jpg");
    background-repeat: no-repeat; }
.equipment__discount {
  position: relative;
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 201px;
  height: 83px;
  background-image: url("img/special.jpg");
  background-repeat: no-repeat; }
  .equipment__discount::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 6px;
    width: 77px;
    height: 77px;
    background-image: url("img/discount.jpg");
    background-repeat: no-repeat; }
.equipment__usual-price {
  font-size: 14px;
  color: #c2c0c4; }
.equipment__old-price {
  text-decoration: line-through; }
.equipment__priсe {
  color: #e39c45; }
.equipment__actual-price {
  font-weight: bold;
  font-size: 20px; }
.equipment__button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background-color: #fea500; }
.equipment__defer {
  position: relative;
  display: inline-block;
  margin-right: 69px;
  padding-left: 25px;
  color: #599cc4;
  text-decoration: none; }
  .equipment__defer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 16px;
    background-image: url("img/icon-defer.jpg");
    background-repeat: no-repeat; }
.equipment__more {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  color: #599cc4;
  text-decoration: none; }
  .equipment__more::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    background-image: url("img/icon-more.jpg");
    background-repeat: no-repeat; }

.timer__wrapper {
  display: inline-block;
  margin: 0; }
  .timer__wrapper:nth-of-type(3) .timer__item::after {
    content: ""; }
.timer__item {
  display: block;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 24px; }
  .timer__item::after {
    content: " :"; }
.timer__item-title {
  margin: 0;
  padding: 0;
  font-size: 12px; }

/*# sourceMappingURL=main.css.map */
