body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  background-color: #ede1d1;
}

.page-header {
  position: relative;

  padding: 10px 20px;

  background-color: #db6655;
}

.page-header::after,
.page-header::before {
  content: "";
  
  position: absolute;
  right: 20px;
  top: 22px;

  width: 18px;
  height: 3px;

  background-color: #f28e7e;
}

.page-header::after {
  transform: rotate(45deg);
}

.page-header::before {
  transform: rotate(-45deg);
}

.page-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  font-size: 12px;
}

.instant-pay__title {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 30px;

  font-size: 32px;
  color: #7c6e61;
  font-weight: 400;
}

.instant-pay__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.instant-pay__item {
  flex-basis: 400px;
  flex-grow: 1;
  padding: 20px;
}

.instant-pay__item:hover {
  background-color: #faf4e6;
}

.instant-pay__item-logo {
  float: left;
  margin-right: 20px;
}

.instant-pay__item-title {
  margin: 0;
  margin-top: 30px;

  font-weight: 400;
  color: #7c6e61;
  font-size: 16px;
}

.instant-pay__item-commission {
  margin-top: 10px;
  
  color: #c0776a;
  font-size: 16px;
}

.instant-pay__item-percent {
  font-weight: bold;
  color: #c0776a;
}