<template>
  <li class="equipment__item">
    <figure class="equipment__preview">
      <img
        class="equipment__photo"
        :src="'./src/img/item' + item._id + '.jpg'"
        width="240"
        height="180"
        :alt="item._source.vendor"
      >
      <figcaption class="equipment__model">{{ item._source.vendor }}</figcaption>
    </figure>
    <div class="equipment__info">
      <timer></timer>
      <dl class="equipment__info-available">
        <dt class="equipment__available-value">{{ item._source.available }} шт</dt>
        <dd class="equipment__available-title">Осталось</dd>
      </dl>
    </div>
    <h3 class="equipment__item-title">{{ item._source.name }}</h3>
    <p class="equipment__sku-number">Код товара: {{ item._source.id }}</p>
    <p class="equipment__manufacturer">Производитель: {{ item._source.seller }}</p>
    <p class="equipment__available">В наличии ({{ item._source.available }} к-т.)</p>
    <p class="equipment__discount"></p>
    <p class="equipment__usual-price">
      Обычная цена:
      <span class="equipment__old-price">{{ item._source.usual_price }} руб.</span>
    </p>
    <p class="equipment__priсe">
      Цена:
      <span class="equipment__actual-price">{{ item._source.price }} руб.</span>
    </p>
    <a class="equipment__button" href="#" @click.prevent="displayModal">Купить</a>
    <a href="#" class="equipment__defer">Отложить</a>
    <a href="#" class="equipment__more">Подробнее</a>
  </li>
</template>

<script>
import Timer from './Timer.vue'

export default {
  name: 'equipmentItem',
  props: {item: Object},
  components: {
    timer: Timer
  },
  methods: {
    displayModal() {
      this.$store.commit('displayModal')
    }
  }
};
</script>

<style lang="scss">


.equipment {
  &__item {
    position: relative;

    flex-basis: 280px;
    flex-shrink: 0;
    padding : {
      left: 10px;
      right: 10px;
      bottom: 20px;
    }
    margin : {
      right: 20px;
      bottom: 20px;
    }
    border: 1px solid #e7e7e5;
  }

  &__preview {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }

  &__photo {
    margin : {
      top: 0;
      bottom: 20px;
      left: 20px;
      right: 20px;
    }
  }

  &__info {
    position: absolute;
    top: 120px;
    left: 20px;

    display: flex;
    justify-content: space-around;
    width: 260px;
    padding : {
      top: 5px;
      bottom: 5px;
      left: 0;
      right: 0;
    }

    border-radius: 20px;
    background-color: rgba(238, 238, 238, 0.6);
  }

  &__info-available {
    margin: 0;
  }

  &__available-value {
    display: block;
    margin-bottom: 0;

    font : {
      weight: bold;
      size: 24px;
    }
    text-transform: uppercase;
  }

  &__available-title {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }

  &__item-title {
    font-size: 16px;
    margin-bottom: -5px;
    min-height: 37px;
  }

  &__sku-number {
    padding: 10px;
    border : {
      width: 3px;
      color: #3c91c3;
      style: solid;
      radius: 15px;
    }

    text-align: center;
    color: #3c91c3;
  }

  &__available {
    position: relative;

    padding-left: 25px;

    font-size: 14px;

    &::before {
      content: "";

      position: absolute;
      left: 0;
      top: -3px;

      width: 20px;
      height: 20px;

      background : {
        image: url("img/icon-avail.jpg");
        repeat: no-repeat;
      }
    }
  }

  &__discount {
    position: relative;

    display: block;
    margin : {
      top: 40px;
      bottom: 20px;
      left: auto;
      right: auto;
    }
    width: 201px;
    height: 83px;

    background : {
      image: url("img/special.jpg");
      repeat: no-repeat;
    }

    &::before {
      content: "";

      position: absolute;
      top: -30px;
      left: 6px;

      width: 77px;
      height: 77px;

      background : {
        image: url("img/discount.jpg");
        repeat: no-repeat;
      }
    }
  }

  &__usual-price {
    font-size: 14px;
    color: #c2c0c4;
  }

  &__old-price {
    text-decoration: line-through;
  }

  &__priсe {
    color: #e39c45;
  }

  &__actual-price {
    font : {
      weight: bold;
      size: 20px;
    }
  }

  &__button {
    display: block;
    padding : {
      top: 10px;
      bottom: 10px;
      left: 0;
      right: 0;
    }
    margin-bottom: 10px;

    color: #fff;
    text : {
      align: center;
      decoration: none;
    }
    font-weight: bold;

    background-color: #fea500;
  }

  &__defer {
    position: relative;

    display: inline-block;
    margin-right: 69px;
    padding-left: 25px;

    color: #599cc4;
    text-decoration: none;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 17px;
      height: 16px;

      background : {
        image: url("img/icon-defer.jpg");
        repeat: no-repeat;
      }
    }
  }

  &__more {
    position: relative;

    display: inline-block;
    padding-left: 25px;

    color: #599cc4;
    text-decoration: none;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 17px;
      height: 17px;

      background : {
        image: url("img/icon-more.jpg");
        repeat: no-repeat;
      }
    }
  }
}
</style>