<template>
  <section class="equipment">
    <div class="equipment__wrapper">
      <h1 class="equipment__title">Выбор по типу оборудования</h1>
    </div>
    <ul class="equipment__list">
      <equipmentItem v-for="(item, index) of catalog" :key="index" :item="item"></equipmentItem>
    </ul>
   <transition name="fade"> 
  <pay v-if="isShow"></pay>
   </transition>
  </section>
</template>

<script>
import EquipmentItem from "./Equipment-item.vue"
import Pay from "./Pay.vue"

export default {
  name: "equipmentList",
  computed: {
    catalog() {
      return this.$store.state.catalog
    },
    isShow() {
    return this.$store.state.show
  }
  },
  components: {
    equipmentItem: EquipmentItem,
    pay: Pay
  },
  mounted() {
    this.$store.dispatch('letGo')
  },
  updated() {
    this.$store.commit('checkTimer')
  }
};
</script>

<style lang="scss">
@import "./assets/scss/variables";

.equipment {
  font-family: Arial, Helvetica, sans-serif;

  &__wrapper {
    margin-bottom: 20px;
    padding : {
      left: 40px;
      top: 5px;
      bottom: 5px;
    }

    background-color: #e7e7e5;
  }

  &__title {
    margin : {
      top: 10px;
      bottom: 10px;
    }

    font : {
      weight: bold;
      size: 16px;
    }
    text-transform: uppercase;

    &::before {
      content: "";

      position: absolute;
      top: 9px;
      left: 2px;

      width: 35px;
      height: 35px;

      background : {
        image: url("img/icon-title.jpg");
        repeat: no-repeat;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    margin: 0 auto;
    padding: 0;
    padding-left: 20px;

    list-style: none;

    @media (min-width: $table) {
      width: $table;
    }

    @media (min-width: $pc) {
      width: $pc;
    }
  }
}
</style>
