<template>
  <article  class="pay">
    <header class="pay__header">
      <h1 class="pay__title">Оплата услуг</h1>
      <button class="pay__close" v-on:click.self="hideModal"></button>
    </header>
    <section class="instant-pay">
      <h2 class="instant-pay__title">Мгновенная оплата</h2>
      <ul class="instant-pay__list">
        <li class="instant-pay__item">
          <img
            class="instant-pay__item-logo"
            src="/src/img/yandex-dengi.jpg"
            width="130"
            height="120"
            alt="Яндекс.Деньги"
          >
          <h3 class="instant-pay__item-title">Яндекс.Деньги</h3>
          <p class="instant-pay__item-commission">
            <span class="instant-pay__item-percent">0%</span>
            комиссия
          </p>
        </li>
        <li class="instant-pay__item">
          <img
            class="instant-pay__item-logo"
            src="/src/img/webmoney.jpg"
            width="130"
            height="120"
            alt="Webmoney"
          >
          <h3 class="instant-pay__item-title">Webmoney</h3>
          <p class="instant-pay__item-commission">
            <span class="instant-pay__item-percent">0.8%</span>
            комиссия
          </p>
        </li>
        <li class="instant-pay__item">
          <img
            class="instant-pay__item-logo"
            src="/src/img/visa_mastercard.jpg"
            width="130"
            height="120"
            alt="Карты Visa, Mastercard (процессинг Uniteller)"
          >
          <h3 class="instant-pay__item-title">
            Карты Visa, Mastercard
            <br>(процессинг Uniteller)
          </h3>
          <p class="instant-pay__item-commission">
            <span class="instant-pay__item-percent">0%</span>
            комиссия
          </p>
        </li>
        <li class="instant-pay__item">
          <img
            class="instant-pay__item-logo"
            src="/src/img/eleksnet.jpg"
            width="130"
            height="120"
            alt="Элекснет"
          >
          <h3 class="instant-pay__item-title">Элекснет</h3>
          <p class="instant-pay__item-commission">
            <span class="instant-pay__item-percent">0%</span>
            комиссия
          </p>
        </li>
        <li class="instant-pay__item">
          <img
            class="instant-pay__item-logo"
            src="/src/img/qiwi.jpg"
            width="130"
            height="120"
            alt="Qiwi"
          >
          <h3 class="instant-pay__item-title">Qiwi</h3>
          <p class="instant-pay__item-commission">
            <span class="instant-pay__item-percent">до 10%</span>
            комиссия
          </p>
        </li>
        <li class="instant-pay__item">
          <img
            class="instant-pay__item-logo"
            src="/src/img/novoplat.jpg"
            width="130"
            height="120"
            alt="Новоплат"
          >
          <h3 class="instant-pay__item-title">Новоплат</h3>
          <p class="instant-pay__item-commission">
            <span class="instant-pay__item-percent">4%</span>
            комиссия
          </p>
        </li>
      </ul>
    </section>
  </article>
</template>

<script>
export default {
  name: 'pay',
  computed: {
  },
  methods: {
    hideModal() {
      this.$store.commit('hideModal')
    }
  }
}
</script>

<style lang="scss">

.pay {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 900px;

  transform: translate(50%, 100px);

  font-family: Arial, Helvetica, sans-serif;
  background-color: #ede1d1;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.5);

  &__header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding : {
    top: 5px;
    bottom: 5px;
    left: 25px;
    right: 15px;
  }

  background-color: #db6655;

  }

  &__title {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
  }

  &__close {
    width: 23px;
    height: 23px;
    border: none;

    background : {
    color: transparent;
    image: url('img/close.jpg');
    repeat: none;
    }
    cursor: pointer;
  }
}

.instant-pay {

&__title {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 30px;

  font-size: 32px;
  color: #7c6e61;
  font-weight: 400;
  }

  &__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  }

&__item {
  flex-basis: 370px;
  flex-grow: 1;
  padding: 20px;

    &:hover {
    background-color: #faf4e6;
  }

  &-logo {
  float: left;
  margin-right: 20px;
  }

  &-title {
  margin: 0;
  margin-top: 30px;

  font-weight: 400;
  color: #7c6e61;
  font-size: 16px;
  }

  &-commission {
  margin-top: 10px;
  
  color: #c0776a;
  font-size: 16px;
  }

  &-percent {
  font-weight: bold;
  color: #c0776a;
}

.show {
  display: block;
}
}
}
</style>
