<template>
  <div class="equipment__timer timer">
    <dl class="timer__wrapper">
      <dt class="equipment__days timer__item">{{ days }}</dt>
      <dd class="equipment__days-title timer__item-title">дней</dd>
    </dl>
    <dl class="timer__wrapper">
      <dt class="equipment__hours timer__item">{{ hours }}</dt>
      <dd class="equipment__hours-title timer__item-title">часов</dd>
    </dl>
    <dl class="timer__wrapper">
      <dt class="equipment__minutes timer__item">{{ minutes }}</dt>
      <dd class="equipment__minutes-title timer__item-title">минут</dd>
    </dl>
  </div>
</template>

<script>
export default {
  name: 'timer',
  computed: {
    days() {
      return this.isSingle(this.$store.state.days)
    },
    hours() {
      return this.isSingle(this.$store.state.hours)
    },
    minutes() {
      return this.isSingle(this.$store.state.minutes)
    }
  },
  methods: {
    isSingle(el) {
      if (el < 10) {
        el = "0" + el;
      }
      return el;
    }
  }
}
</script>

<style lang="scss">
.timer {
  &__wrapper {
    display: inline-block;
    margin: 0;

    &:nth-of-type(3) .timer__item::after {
      content: "";
    }
  }

  &__item {
    display: block;
    margin-bottom: 0;

    font : {
      weight: bold;
      size: 24px;
    }

    &::after {
      content: " :";
    }
  }

  &__item-title {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
}
</style>
